RewriteEngine On
RewriteBase /ModuStackVisit/

# Redirigir todo el tráfico a la carpeta public
RewriteCond %{REQUEST_URI} !^/ModuStackVisit/public/
RewriteRule ^(.*)$ public/$1 [L]

# Si el archivo o directorio no existe, redirige a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L] 